/* ===== Global Styles ===== */
body {
  cursor: url("../cursor.png") 16 16, auto;
  text-align: center;
  margin-top: 30px;
  font-family: "Courier", monospace;
  background-color: #efefef;
  color: #c5a6ba;
}

/* ===== Image Styling ===== */
img {
  height: 400px;
  width: auto;
  padding: 10px;
}

/* ===== Main Question Text ===== */
#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}

/* ===== Buttons ===== */
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  margin-bottom: 20px;
  font-family: "Courier", monospace;

  background-color: #e4cac9;
  color: #c5a6ba;

  border-radius: 12px;
  border: 2px solid #e4cac9;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  cursor: url("../cursor.png") 16 16, pointer;
}

/* ===== Button Hover Effect ===== */
.answerButton:hover {
  background-color: #c5a6ba;
  color: #efefef;
  border: 2px solid #c5a6ba;
}
