/* css/valentine.css */

/* Force cursor everywhere (strongest) */
html, body, * {
  cursor: url("../cursor.cur"), url("../cursor.png"), auto !important;
}
button, a {
  cursor: url("../cursor.cur"), url("../cursor.png"), pointer !important;
}


/* Theme */
body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier", monospace;
  background-color: #efefef !important;
  color: #c5a6ba !important;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}

.answerButton {
  padding: 14px 28px;
  font-size: 24px;
  margin: 10px;
  margin-bottom: 20px;
  font-family: "Courier", monospace;

  background-color: #e4cac9 !important;
  color: #c5a6ba !important;

  border-radius: 12px;
  border: 2px solid #e4cac9 !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #c5a6ba !important;
  color: #efefef !important;
  border: 2px solid #c5a6ba !important;
}
